# FastAPI and Server
fastapi
uvicorn
python-dotenv
python-multipart
python-jose
pyjwt
jinja2

# Database and Auth
supabase
sqlalchemy
sqlalchemy-utils
asyncpg

# Neo4j and Databases
neo4j
neontology

# Redis
redis

# Data Processing and Analysis
pandas
scipy
requests
openpyxl

# OpenAI and related tools
openai
ollama

# Providers
msal

# Testing
pytest
pytest-html

# Miscellaneous
emoji
extruct
w3lib
scikit-learn

# Google APIs
youtube-transcript-api
google-api-python-client
google-auth-oauthlib

# LangChain Ecosystem
#langchain[all]
langchain[llms]
langchain-community
#langchain-cli
#langchain-core
langchain-openai
#langchain-text-splitters
#langchainhub
#langchainplus-sdk
langgraph
#langgraph-checkpoint
#langgraph-checkpoint-postgres

# Document Processing
python-pptx
python-docx
pdfminer.six
Pillow
psutil